<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  <configuration>
  	<mappers>
<!--   			<mapper resource="sql/consult3SQL.xml"/> -->
  			<mapper resource="sql/userSQL.xml"/>
<!--   			<mapper resource="sql/historySQL.xml"/> -->
<!-- 			<mapper resource="sql/callSQL.xml"/>	  			 -->
  	</mappers>
</configuration>
